<div id="word-<%= word.id %>" class="word">
    <div class="word-title">
        <%= word.title %>
    </div>
    <div class="d-flex flex-direction-column word-description">
        <p class="m-b-4"><%= word.description %></p>
        <p><%= word.wordsInSpanish %></p>
    </div>
</div>