<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
    </script>
    <script src="/js/functions.js"></script>
    <script src="/js/events.js"></script>
</head>
<body>
    <main><%- include(path) -%></main>
    <script src="/js/script.js"></script>
</body>
</html>